# Arquivos de log
/storage/*.log
/storage/logs/*.log

# Arquivos de cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# Arquivos gerados pelo composer
/vendor/
/composer.lock

# Arquivos gerados pelo NPM ou Yarn
/node_modules/
/yarn-error.log
