form {
    display: flex;
    flex-direction: column;
}

form input {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

    border: none;
    outline: none;
    border-radius: 50px;

    color: grey;
    background-color: #1c99e262;
    margin-bottom: 20px;
}

p {
    height: 18px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.btn-cadastrar {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    
    border: none;
    outline: none;
    border-radius: 50px;
    
    background-color: #1C9BE2;
    color: white;
}
