/* body {
    background-color: white;
}

.nav-bar {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px 20px;

    background-color: var(--main-color);
}

.nav-bar div {
    width: 50%;
}

.nav-bar .profile {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-bar span {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.nav-bar .fa-user {
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    font-size: 20px;
}


.btn-acessar {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    
    border: none;
    outline: none;
    border-radius: 50px;

    color: white;
    background-color: var(--main-color);
}

footer {
    position: fixed;
    bottom: 0;

    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 10px;

    background-color: var(--main-color2);
}

footer i {
    background-color: blue;
    border-radius: 100%;
    padding: 20px;
    font-size: 20px;
} */

.teste {

    background-color: white;
    font-size: 20px;    
    width: 500px;
    height: 300px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    align-items: center; 
}


.perfil-icon {
    width: 100%;
    font-size: 50px;
    color: black;
    text-align: center;
    line-height: 50px;
}
 
 
 
 