
.lojas {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.loja {
    width: 45%;
    height: 150px;

    background-color: var(--main-color3);
    text-align: center;
    padding: 10px;
}
.loja a {
    text-decoration: none;
    color: black;
}

.loja .divImg {
    background-color: white;
    height: 70%;
}
.loja .divName {
    height: 30%;

    font-size: 18px;
    font-weight: 700;
}